<section class="ma__contact-row">
  {% set contactHeading = 2 %}
  {% set contactHeading = (contactRow.compHeading.level ? : contactHeading) + 1 %}

  {% set compHeading = contactRow.compHeading %}
  {% include "@atoms/04-headings/comp-heading.twig" %}

  {% block contactImage %}
    {% if contactRow.image %}
      {% set image = contactRow.image %}
      {% include "@atoms/09-media/image.twig" %}
    {% endif %}
  {% endblock %}

  {% if contactRow.addressContacts %}
  {{contactRow.addressContacts.hasAccordion}}
    <div class="ma__contact-row__address-contacts {{contactRow.addressContacts.hasAccordion ? 'js-accordion': ''}}">
      {% block addressContacts %}
        {% for contact in contactRow.addressContacts.contacts %}
          {% set contactGroup = contact|merge({"level": contactHeading}) %}
          {% include "@molecules/contact-group.twig" %}
        {% endfor %}
      {% endblock %}
      <div class="ma__contact-row__expand">
        <button type="button" class="js-accordion-link">
          <span>more</span><span>fewer</span> addresses
        </button>
      </div>
    </div>
  {% endif %}

  {% if contactRow.phoneFaxContacts %}
    <div class="ma__contact-row__phone-fax-contacts {{contactRow.phoneFaxContacts.hasAccordion ? 'js-accordion': ''}}">
      {% block phoneFaxContacts %}
        {% for contact in contactRow.phoneFaxContacts.contacts %}
          {% set contactGroup = contact|merge({"level": contactHeading}) %}
          {% include "@molecules/contact-group.twig" %}
        {% endfor %}
      {% endblock %}
      <div class="ma__contact-row__expand">
        <button type="button" class="js-accordion-link">
          <span>more</span><span>less</span> contact info
        </button>
      </div>
    </div>
  {% endif %}

  {% if contactRow.onlineContacts %}
    <div class="ma__contact-row__online-contacts">
      {% block onlineContacts %}
        {% for contact in contactRow.onlineContacts.contacts %}
          {% set contactGroup = contact|merge({"level": contactHeading}) %}
          {% include "@molecules/contact-group.twig" %}
        {% endfor %}
      {% endblock %}
    </div>
  {% endif %}


  {% if contactRow.moreLink %}
    <div class="ma__contact-row__more-info">
      {% block moreLink %}
        {% set decorativeLink = contactRow.moreLink %}
        {% include "@atoms/decorative-link.twig" %}
      {% endblock %}
    </div>
  {% endif %}


</section>
